{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery minificado -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.min.js" %} "></script>
  <title>{% block title %} Library-Inkalabs {% endblock title %}</title>
</head>

  <body style="display:flex; min-height:100vh; flex-direction:column;">
<header>
<!-- Main Menu-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Library</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authors <span class="caret"></span></a>
          <ul class="dropdown-menu menu-book">
            <li><a href="{% url 'list-book'%}">All Books</a></li>
            {% for author in authors  %}
            <li><a href="{% url 'filter-book' author.pk 0 %}">{{ author.first_name }} {{ author.last_name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Years <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'list-book' %}">All Years</a></li>
            {% for year in year_publication  %}
              <li><a href="{% url 'filter-book' 0 year.year_publication  %}">{{year.year_publication}}</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>
      <form method="GET" action="{% url 'list-book' %}" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" name="search" id="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
         {% csrf_token %}
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'list-book' %}">Home</a></li>
        <li><a href="{% url 'create' %}">Create Book</a></li>
        <li> <a href="{% url 'create-author'%}">Create Author</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>

        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--end main menu -->
</header>

<main style="flex: 1 0 auto;">
  <div class="container">
  <div class="divider"></div>
   <div class="section">
     <h4>{% block section_name %}{% endblock section_name %}</h4>
     <p>{% block section_description %}{% endblock section_description %}</p>
   </div>
  {% block main %}
  <!--Content for each specific template-->
  {% endblock main %}
  </div>  
</main>
</body>

</html>
