{% extends "library/base.html" %}
{% block main %}
	<form action="" method="POST">{%csrf_token%}
        <div class="modal-header">
		    <h3 id="myModalLabel">Delete Book</h3>
	    </div>
        <div class="modal-body">
            <p>Do you want to delete <b>{{book.title}}</b>?</p>
        </div>
        <div class="modal-footer">
            <input type="hidden" id="user_id" value="" />
            <a href="{% url 'list-book' %}" class="btn btn-primary delete">Cancel</a>
            <button  type="submit" class="btn btn-primary delete">Yes</button>
        </div>
	</form>


{% endblock main %}