{% extends "library/base.html" %}
{% load staticfiles %}
{% block title %}Details{% endblock title %}
{% block section_name %}Detail of Book{% endblock section_name %}
{% block main %}
<div class="row">
    <div class="col-xs-12 col-md-3 detail-image">
        <img src="{% static object.image %}">
    </div>
    <div class="col-xs-12 col-md-9">
        <table class="table table-responsive">
            <tbody>
            <tr>
                <td>Title:</td> <td>{{object.title}}</td>
            </tr>
            <tr>
                <td>Author(s):</td>  <td> {% for author in  book.authors.all %} <li class="list-unstyled">{{ author.first_name }} {{ author.last_name }}</li>{% endfor %}</td>
            </tr>
            <tr>
                <td>Edition: </td><td>{{object.edition}}</td>
            </tr>
            <tr>
                <td>Year Publication: </td><td>{{object.year_publication}}</td>
            </tr>
            <tr>
                <td>Copies: </td><td>{{object.num_copies}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <h3>Description</h3>
        <p>{{object.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        <a href="{% url 'list-book' %}" class="btn btn-primary">View Books</a>
        <a href="{% url 'delete' object.pk %}" class="btn btn-primary">Delete Book</a>
    </div>
</div>

{% endblock main %}