{% extends "library/base.html" %}
{% block title %}Web Library{% endblock title %}
{% block section_name %} Author {% endblock section_name %}
{% block main %}
<form action="" class="form-author" enctype="multipart/form-data" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-5 col-table">
            <table>
                {{ form.as_table }}
            </table>

            <div class="btn-save">
                 <button class="btn btn-primary" type="submit" name="create-author" value="create">Save</button>
            </div>

        </div>
    </div>
</form>


<script>
</script>
{% endblock main %}
