{% extends "library/base.html" %}
{% block title %}Web Library{% endblock title %}
{% block section_name %} Book {% endblock section_name %}
{% block main %}
<form action="" class="form-book" enctype="multipart/form-data" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-5 col-table">
            <table>
                {{ form.as_table }}
            </table>
            <div class="btn-save">
                <button class="btn btn-primary" type="submit" name="create" value="create">Save</button>
            </div>
        </div>
    </div>
</form>
  <!-- Modal -->
<script>
</script>
{% endblock main %}
