{% extends "library/base.html" %}
{% load staticfiles %}
{% block title %}Inicio{% endblock title %}
{% block section_name %}Home{% endblock section_name %}

{% block main %}


<div class="row book-catalog">
    {% for book in object_list  %}
    <div class="col-xs-12 col-md-4 book-item">
        <div class="book">
            <div class="book-image" style="background-image: url('{% static book.image.url %}');">
                <!--<img src="{% static book.image.url %}" class="img-responsive">-->
            </div>
            <div class="book-content">
                <ul>
                    <li><strong>Title:</strong>{{ book.title }}</li>

                    <li><strong>Author(s): </strong>
                        {% for author in  book.authors.all %}
                    <li>{{ author.first_name }} {{ author.last_name }}</li></li>
                    {% endfor %}
                    <li><strong>Edition: </strong>{{ book.edition }}</li>
                    <li><strong>Year Publication: </strong>{{ book.year_publication }}</li>
                    <li><strong>Copies: </strong>{{ book.num_copies }}</li>
                </ul>
            </div>
            <div class="book-action text-center">
                <a href="{% url 'detail-book' book.pk %}" class="btn btn-primary" ><span class="label">Details</span></a>
                <a href="{% url 'update' book.pk %}" class="btn btn-primary" ><span class="label">Edit</span></a>
                <a href="{% url 'delete' book.pk %}" class="btn btn-primary" ><span class="label">Delete</span></a>

            </div>
        </div>
    </div>

    {% empty %}<!-- No Books -->
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div>
                <div>
                    <span><strong>No books available</strong></span>
                    <p>There are no books on the platform right now, but you can create one if you want.</p>
                </div>
                <a href="{% url 'create' %}" class="btn btn-info" role="button">Create Book</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% block pagination %}
{% if is_paginated %}
<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

    {% endblock %}
    {% endblock main %}
