{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <title>{% block title %} Library-Inkalabs {% endblock title %}</title>
</head>
<body class="text-center">
<form action="{% url 'login' %}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-xs-12 col-md-4">
                <h2>Library Login</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>

            <div class="col-xs-12 col-md-4">
                <label><b>Username</b></label>
                <input type="text" name="username" id="user" placeholder="Usuario" class="form-control"/>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-xs-12 col-md-4">
                <label><b>Password</b></label>
                <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control"/>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-xs-12 col-md-4n">
                <button type="submit" class="btn btn-primary btn-login">Login</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    {% csrf_token %}
</form>
</body>
