html {
    height: 100%;
}

body {
    height: 100%;
}

.btn-login {
    margin-top: 20px;
}

.book{
	  background-color: #ddd;
}

.book-content ul > li {
    list-style-type: none;
}

.book-catalog .book-item{
	overflow: hidden;
}

.book-image{
	width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center
}

.book-content{
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.book-action{
	border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}
.book-action a {
	color: #ffab40;
    margin-right: 20px;
}

.book{
	position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.form-book table,.form-author table{
    border-collapse: separate; 
    border-spacing: 0 1em;
    padding: 10px;
    width: 100%;
}

.form-book table > td, .form-book table td > input , .form-book table td > textarea ,
.form-book table td > select ,.form-author table > td , .form-author table td > input ,
.form-author table td > textarea, .form-author table td > select{
    width: 100%;
}

.form-book .col-table,.form-author .col-table{
    background-color: #F5F5F5;
    border-radius: 20px;
}
.form-book .btn-save, .form-author .btn-save{
    width: 100%;
    text-align:center;
}

.form-book input,.form-author  input{
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px 12px;
}

.detail-image img{
    width:100%
}